body {
}


#housePic {
    position: absolute;
    top: 420px;
    left: 50px;
}

#room4thPic {
    position: absolute;
    top: 420px;
    left: 400px;
}

#room2ndPic {
    position: absolute;
    top: 770px;
    left: 400px;
}

#boxRoom1Temperature {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 15px;
    left: 230px;
}

#boxAirState {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 540px;
    left: 230px;
}

#boxRoom1Presence {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 490px;
    left: 830px;
}

#boxRoom1Light {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 640px;
    left: 580px;
}

#boxRoom1Heater {
    position: absolute;
    top: 740px;
    left: 720px;
}

#boxRoom1Window1 {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 540px;
    left: 800px;
}
#boxRoom1Window2 {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 540px;
    left: 800px;
}

#boxRoom1Blind1 {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 540px;
    left: 1030px;
}
#boxRoom1Blind2 {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 540px;
    left: 1030px;
}


.button {
    background-color: #78b928;
    border: none;
    color: white;
    padding: 0px;
    height: 22px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
}

.windowbutton {
    background-color: #78b928;
    border: none;
    color: white;
    padding: 0px;
    height: 18px;
    width: 50px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
}

.connectbutton {
    background-color: #78b928;
    border: none;
    color: white;
    padding: 0px;
    height: 28px;
    width: 125px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
}

.clientbutton {
    background-color: #78b928;
    border: none;
    color: white;
    padding: 0px;
    height: 28px;
    width: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
}


.textfield {
    width: 130px;
    color: #78b928;
    font-size: 26px;
    height: 40px;
}

.textfield_client {
    width: 130px;
    color: #78b928;
    font-size: 18px;
    height: 28px;
}